.dropdown {
    float: right;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    margin-top: 70px;
    display: none;
    width: 14.9%;
    position: absolute;
    background-color: #1b191999 ;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    color: #eee;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
    font-family: lato;
}
.dropdown-content img{
    margin-left: 10px;
    margin-right: 7px;
}
.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}